.grid-container {
  position: absolute;
  z-index: 1;
}

.grid-row {
  margin-bottom: 15px;
}
.grid-row:last-child {
  margin-bottom: 0;
}
.grid-row:after {
  content: "";
  display: block;
  clear: both;
}

.grid-cell {
  width: 106.25px;
  height: 106.25px;
  margin-right: 15px;
  float: left;
  display: flex;
  justify-content: center; /* align horizontal */
  align-items: center;
  border-radius: 3px;
  font-size: 40px;
  background: rgba(238, 228, 218, 0.35);
}
.grid-cell:last-child {
  margin-right: 0;
}

.new-tile {
  animation: appear 200ms ease 100ms;

  animation-fill-mode: both;
}

.tile {
  width: 106.25px;
  height: 106.25px;
  transition-property: transform;
  transition-duration: 0.25s;
  line-height: 2.5;
  text-align: center;
}

.tile-2 {
  background: rgb(255, 255, 190);
}
.tile-4 {
  background: rgb(255, 225, 140);
}

.tile-8 {
  background: rgb(255, 200, 120);
}

.tile-16 {
  background: rgb(255, 180, 100);
}

.tile-32 {
  background: rgb(255, 160, 80);
}

.tile-64 {
  background: rgb(255, 140, 70);
}

.tile-128 {
  background: rgb(255, 100, 60);
}

.tile-256 {
  background: rgb(255, 80, 50);
}
.tile-512 {
  background: rgb(255, 60, 40);
}
.tile-1024 {
  background: rgb(255, 50, 30);
}

.tile-2048 {
  background: rgb(255, 40, 20);
}

.tile-4096 {
  background: rgb(255, 20, 10);
}

.tile-8192 {
  background: rgb(255, 0, 0);
}

@keyframes appear {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes translate {
  0% {
    translate: (0, 0);
  }

  100% {
    opacity: 1;
  }
}
